# ignore all checkpoints and tensorboards files inside ./log
log/

# ignore Dataset
apps/Dataset/
apps/data

apps/data.zip
apps/Dataset.zip

# ignore slurm output and error
slurm*

# ignore large model files
apps/models
apps/models.zip